/*-- 全局覆盖 --*/
#write {
    margin: 10px 10px 10px 240px;
    padding: 20px 40px;
    max-width: 1140px;
    border: 1px solid #E6ECF1;
    box-shadow: 0 2px 8px rgba(116, 129, 141, .08);
    border-radius: 4px
}

.BlogAnchor {
    width: 270px !important;
}

.newh1.item_h1 {
    text-align: center;
    padding-right: 0px !important;
    color: #efb752;
}

.html_footer {
    font-size: 14px !important;
    color: #efb752 !important;
    text-align: left;
}

#author {
    float: right;
}

/*-- 响应式样式自适应 --*/
@media screen and (max-width: 1314px) {
    #write {
        margin: 10px 10px 10px 200px;
        padding: 20px 40px;
    }

    .BlogAnchor {
        width: 210px !important
    }
}

@media screen and (max-width: 1314px) {
    #write {
        margin: 30px 30px 30px 230px;
        padding: 20px 40px;
    }

    .BlogAnchor {
        width: 200px !important
    }
}

@media screen and (max-width: 1314px) {
    #write {
        margin: 20px 20px 20px 220px;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 1314px) {
    #write {
        margin: 20px 20px 20px 200px;
        padding: 20px 20px;
        font-size: 15px;
        line-height: 170%
    }

    .BlogAnchor {
        width: 180px !important
    }

    .html_header span::before {
        margin-left: 0
    }

    .html_header span::after {
        font-size: 15px;
    }

    .html_footer span::before {
        margin-left: 0
    }

    .html_footer span::after {
        font-size: 56px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1314px) {
    #write {
        margin: 10px;
        padding: 16px;
        font-size: 14px;
        line-height: 160%
    }

    .BlogAnchor {
        display: none;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }
}

/*-- scroll_style --*/
.AnchorContent {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    margin-right: 0 !important
}

.AnchorContent::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0) !important;
    position: absolute;
    right: 10px
}

.AnchorContent::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0) !important
}

.AnchorContent::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: none;
    opacity: 0 !important;
    transition: all .3s
}

.AnchorContent:hover::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: #d4d6d8;
    border-right: 2px solid #fff;
    opacity: 1;
}

.AnchorContent::-webkit-scrollbar-thumb:hover {
    background-color: #c0c2c4 !important
}

/*-- 局部自定义 --*/
#AnchorContentToggle {
    font-size: 13px;
    font-weight: normal;
    color: #FFF;
    display: inline-block;
    line-height: 20px;
    background: rgb(7, 196, 189);
    font-style: normal;
    padding: 1px 8px;
}

.BlogAnchor {
    background: #131b29;
    padding: 0px 0;
    line-height: 180%;
    position: fixed;
    height: 100%;
    width: 250px;
    left: 0;
    top: 0;
}

.BlogAnchor p {
    font-size: 14px;
    color: #efb752;
    margin: 0 16px;
}

.BlogAnchor .AnchorContent {
    padding: 0px 0px;
    overflow: auto;
}

.BlogAnchor li {
    text-indent: 0rem;
    font-size: 14px;
    list-style: none;
    padding: 0 0px;
}

.BlogAnchor li .nav_item {
    padding: 0px 16px;
}

.BlogAnchor li .item_h1 {
    margin-left: 0rem;
    padding-left: 0px;
    font-weight: bold;
}

.BlogAnchor li .item_h2 {
    margin-left: 0;
    font-size: 0.95rem;
    padding-left: 0px;
    color: #83bed6
}

.BlogAnchor li .nav_item.current {
    color: #087cd2;
    background-color: rgba(238, 242, 249, .8);
    border-left: 0px solid #087cd2;
    text-indent: 2px;
    font-weight: bold;
}

.BlogAnchor a:hover {
    color: #efb752;
    background: rgba(238, 242, 249, .5);
}

.BlogAnchor a {
    text-decoration: none;
    color: #83bed6;
    display: block;
    border-radius: 0px;
}